@use './colors.scss' as colors;
@use './borders.scss' as borders;

.custom--button {
  background: transparent;
  border: none;
  text-decoration: none;
  padding: 0.3rem;
}

.nav--button {
  color: colors.$dark;
  border: none;
  height: 32px;
}

.nav--button.active {
  border-bottom: borders.$solid_2px_dark_border;
}

.dark--button {
  background-color: colors.$dark;
  color: colors.$light;
  border-radius: 5px;
}

.ligth--button {
  background-color: colors.$light;
  color: colors.$dark;
  border-radius: 5px;
}