@use './borders.scss' as borders;
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.custom--sidebar{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  &>.sidebar--item{
    height: 2.5rem;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: borders.$no_border;
    border-radius: 10px;
    &>.sidebar--badge{
      background-color: var(--bs-gray-400);
      color: var(--bs-gray-900);
    }
  }
}